.shrink {
    transition: 1s ease;
}

.go {
    font-size: 1.5rem;
    font-weight: 800;
    color: #eaba6e;
    transform: rotate(-30deg);
    text-shadow:
        0px 1px 0.3px #8d1701,
        0px 2px
}

.image-container:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.rotate {
    animation: rotate-circle 59s linear infinite;
}


@keyframes rotate-circle {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
