* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.App {
	background-image: url('./images/bg.webp');
	background-position: center;
	background-size: cover;
	object-fit: cover;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow-y: hidden;

}

.clip {
	background-clip: text;
}


.wheel-container {
	position: relative;
}

.container-parent {
	border: 5px solid black;
	border-radius: 50%;
	padding: 5px;
}

.container {
    width: 500px;
    height: 500px;
    background-image: url('./images/wheel.webp');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    transition: transform 5s;
    transform-origin: center;
    transform: rotate(30deg);
}



.container h1 {
	position: absolute;
	font-size: 1.2rem;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 50;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 15px;

	text-shadow:
		0px 1px 0.3px #8d1701,
		0px 2px 0.3px #f33202;
}

.container h1 span {
	/* font-size: 1.5rem; */
	position: fixed;
	top: 60%;
	font-weight: 800;
	text-shadow:
		0px 1px 0.3px #8d1701,
		0px 2px 0.3px #f33202;
}

#spin {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	/* width: 119px;
	height: 119px; */
	background: linear-gradient(#2e090c, #570e0e);
	box-shadow: rgba(216, 213, 213, 0.2) 0px 2px 8px 0px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: url('./images//cursor.svg'), pointer;
	z-index: 999;
}

#spin img {
	color: white;
	width: 126px;
	height: auto;

}

#spin h1 {
	font-size: 3rem;
	font-weight: 400;
	font-family: 'Jolly Lodger', system-ui;
	text-shadow:
		0px 3px 0.3px #500e0e,
		0px 5px 0.3px #6a1218;
	;
}

.design {
	position: absolute;
	top: -14%;
	transform: rotate(180deg);
}

.design img {
	width: 100%;
	height: 100%;
}



@media (max-width: 640px) {
	.App {
		height: auto;
	}

	.container {
		width: 400px;
		height: 400px;
	}

	#spin img {
		width: 80px;
		height: auto;
		pointer-events: none;
	}

	.container div {
		font-size: 14px;
	}
}

@media (max-width: 440px) {
	.App {
		height: auto;
	}

	.container {
		width: 350px;
		height: 350px;
	}
}

.container .segment {
	position: absolute;
	transform-origin: center;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	font-family: sans-serif;
	color: #fff;
}

/* Position each segment with the correct rotation */
.container .segment-1 {
	left: 37.2%;
	top: 5%;
	background-image: url('./images/star1.png');
	object-fit: cover;
	background-size: cover;
	height: 24%;
	width: 24%;
	position: relative;
	border-radius: 50%;
	box-sizing: border-box;
}



.container .segment-2 {
	background-image: url('./images/star2.png');
	transform: rotate(60deg);
	object-fit: cover;
	background-size: cover;
	height: 24%;
	width: 24%;
	position: relative;
	border-radius: 50%;
	left: 66%;
	top: -3%;
}

.container .segment-3 {
	background-image: url('./images/star1.png');
	transform: rotate(120deg);
	object-fit: cover;
	background-size: cover;
	height: 24%;
	width: 24%;
	position: relative;
	border-radius: 50%;
	left: 67%;
	top: 5.5%;
}

.container .segment-4 {
	background-image: url('./images/star2.png');
	transform: rotate(180deg);
	object-fit: cover;
	background-size: cover;
	height: 24%;
	width: 24%;
	position: relative;
	border-radius: 50%;
	left: 38.8%;
	top: -1%;
}

.container .segment-5 {
	background-image: url('./images/star1.png');
	transform: rotate(240deg);
	object-fit: cover;
	background-size: cover;
	height: 24%;
	width: 24%;
	position: relative;
	border-radius: 50%;
	left: 9.5%;
	top: -40.8%;
}

.container .segment-6 {
	background-image: url('./images/star2.png');
	transform: rotate(300deg);
	object-fit: cover;
	background-size: cover;
	height: 24%;
	width: 24%;
	position: relative;
	border-radius: 50%;
	left: 8.5%;
	top: -98%;
}

/* Rotate the text within each segment to be readable */
.container .segment h1 {
	transform: rotate(-var(--segment-rotation));
	/* Counter-rotate the text */
	transform-origin: 50% 0;
	/* Pivot point at the top center of the text */
}

/* defult rotaion of wpinner  */
@keyframes slightRotate {

	0%,
	100% {
		transform: rotate(-5deg);
	}

	50% {
		transform: rotate(5deg);
	}
}